/* ./your-css-folder/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, serif;
    font-size: x-large;
    background-color: rgba(0, 102, 204, .1);
}

header {
    grid-area: header;
}

.main-section {
    grid-area: main-section;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-areas: "header" "main-section" "footer";
    grid-template-rows: 5.8rem;

    color: white;

    text-align: center;
    /*min-width: 310px;*/
}

/*navbar*/
.header {
    display: grid;
    grid-template-rows: auto;
}

.navbar-espdiy {
    grid-row: 1;
    grid-column: 2;

    text-decoration: none;
    font-size: x-large;
    color: #0066CC;

    min-width: 300px;

    padding-top: 1.7rem;
    padding-left: .7rem;
    /*padding-right: 10%;*/
}

/*navbar hamburger-menu*/
/* (A) BREAK INTO VERTICAL MENU */
#hamnav {
    grid-row: 1;
    grid-column: 1;

    align-content: stretch;
    justify-content: start;

    max-width: 75px;
    z-index: 3;
}
#hamitems {
    display: block;
    box-sizing: border-box;
    border-color: #000000;
    box-shadow: 0 8px 15px rgba(0, 102, 204, 1);
    font-size: x-large;
    color: #0066CC;
}
#hamitems a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    background-color: white;
    width: content-box;
    padding: .5em 0.5em;
}
/* (B) SHOW HAMBURGER ICON */
#hamnav label {
    display: block;
    color: white;
    background-color: rgba(0, 102, 204, 1);
    font-size: large;
    padding: 1.3rem;
    width: 75px;
}
/*label {*/
/*    width: 1rem;*/
/*}*/
/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems { display: none; }
#hamnav input:checked ~ #hamitems {
    display: grid;
}

.u_list_v {
    background-color: white;
}

.main-section {
    display: grid;
    grid-row: 2;
    grid-column: 1 / span 2;
    background-color: rgba(0, 102, 204, .6);
}

.footer {
    grid-row: 3;
    grid-column: 1 / span 2;

    height: 15vh;
}


@media only screen and (min-width: 320px) {
    .navbar-espdiy {
        font-size: xx-large;
        padding-top: 1.3rem;
        padding-left: 0;
    }
}


@media only screen and (min-width: 399px) {
    .container {
        /*display: grid;*/
        grid-template-rows: 5.8rem auto auto;
    }

    .navbar-espdiy {
        font-size: xx-large;
    }

    #hamitems {
        font-size: x-large;
    }
}


@media only screen and (min-width: 420px) {
    .navbar-espdiy {
        font-size: xx-large;
        padding-top: 1.3rem;
        padding-left: 0;
        }
}


@media only screen and (min-width: 780px) {
    .container {
        display: grid;
        grid-template-areas: "navbar-espdiy hamnav" "main-section main-section" "footer footer";
        grid-template-rows: 6.9rem auto auto;
        grid-template-columns: fit-content(40%) auto auto;
    }

    .navbar-espdiy {
        display: grid;
        grid-row: 1;
        grid-column: 1;

        font-size: xxx-large;

        height: 100%;

        background-color: transparent;
    }

    .u_list_v {
        display: contents;
    }
    /* [ON BIG SCREEN] */
    /* (A) WRAPPER */
    #hamnav {
        display: grid;
        grid-row: 1;
        grid-column: 2;

        width: 100%;
        height: 100%;

        align-items: center;
        justify-items: end;
    }

    /* (B) HORIZONTAL MENU ITEMS */
    #hamitems {
        display: flex;
        width: max-content;
        box-shadow: none;
        justify-content: start;
        align-items: center;
        font-size: x-large;

        padding-right: 2rem;
    }

    #hamitems a {
        flex-grow: 1;
        flex-basis: 0;
        padding: 10px;
        color: rgba(0, 102, 204, 1);
        text-decoration: none;
        background-color: transparent;
        width: max-content;
    }

    #hamitems a:hover {
        background-color: rgba(0, 102, 204, 1);
        color: white;
        border-radius: 10px;
    }

    /* (C) HIDE HAMBURGER */
    #hamnav label, #hamburger {
        display: none;
    }

    .navbar-menu {
        display: grid;
        grid-row: 1;
        grid-column: 2 / span 1;

        text-align: right;
        font-size: x-large;

        height: 100%;
        width: 100%;
        padding: 3rem 0 3rem 0;

        justify-content: right;
        align-content: center;

        gap: 4px;
        grid-auto-flow: column;
    }

    .navbar-login {
        display: grid;
        grid-row: 1;
        grid-column: 3;

        font-size: x-large;

        height: 100%;
        width: 100%;
        padding: 3rem 0 3rem 1rem;

        justify-content: left;
        align-content: center;
    }

    .main-section {
        grid-row: 2;
        grid-column: 1 / span 2;
        width: 100vw;
        padding: 3rem
    }
}

@media only screen and (min-width: 829px) {
    .navbar-espdiy {
        font-size: xxx-large;
    }
    #hamitems {
        font-size: x-large;
    }

    .index-intro-line {
        font-size: xx-large;
    }
}

@media only screen and (min-width: 868px) {
    #hamitems {
        gap: 11px;
    }
}
