@tailwind base;
@tailwind components;
@tailwind utilities;

.forum {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 2;

    /*height: fit-content;*/
    background-color: rgba(0, 102, 204, .6);

    color: white;
    padding: 1.7em;
}