@tailwind base;
@tailwind components;
@tailwind utilities;

.register {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 2;

    height: 100%;
    background-color: rgba(0, 102, 204, .6);

    color: white;
    padding: 1.7em 0;
}

.register-field {
    /*display: grid;*/
    grid-row: 2;
    grid-column: 1 / span 2;

    color: #0066CC;

    padding: 0 1rem 0 1rem;
    margin: 0 .5rem 1rem 0;
    border-radius: 10px;

    height: 3rem;
    width: 20rem;

    font-size: large;
}

form {
    place-self: center;
    justify-self: center;
}

.submit {
    flex-direction: row;
    padding: 0 1rem 0 1rem;
    margin: 0 .5rem .1rem 0;

    border-radius: 10px;

    height: 3rem;
    font-size: large;
    color: rgba(0, 102, 204, 1);
}

.login-register {
    flex-direction: row;
    padding: 0 1rem 0 1rem;
    margin: 0 .5rem .1rem 0;
    border-radius: 10px;
    height: 3rem;;
    font-size: large;
    color: rgba(0, 102, 204, 1);
}

